* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    max-width: max-content;
}

p {
    margin: 15px 0;
}

body {
    font-size: 16px;
    color: #000000;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.pd--xl {
    padding: 100px 20px;
}

.pd--l {
    padding: 50px 20px;
}

@media (min-width: 992px) {
    .pd--l {
        padding: 70px 20px;
    }
}

.pd--m {
    padding: 50px 20px;
}

.pd--s {
    padding: 30px 20px;
}

.pd--xs {
    padding: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #b2fbe4;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.container--m {
    max-width: 992px;
}

.container--xs {
    max-width: 600px;
}

.container--fullwidth {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    font-family: "Sharp", sans-serif;
}

h1 {
    font-size: 40px;
}

@media (min-width: 992px) {
    h1 {
        font-size: 50px;
    }
}

h2 {
    font-size: 30px;
}

@media (min-width: 992px) {
    h2 {
        font-size: 40px;
    }
}

h3 {
    font-size: 24px;
}

@media (min-width: 992px) {
    h3 {
        font-size: 30px;
    }
}

h4 {
    font-size: 22px;
}

@media (min-width: 992px) {
    h4 {
        font-size: 24px;
    }
}

h5 {
    font-size: 18px;
}

@media (min-width: 992px) {
    h5 {
        font-size: 20px;
    }
}

h6 {
    font-size: 16px;
}

@media (min-width: 992px) {
    h6 {
        font-size: 18px;
    }
}

.sticky-header {
    position: sticky;
    top: 0;
}

.btn {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-weight: 900;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 50px;
    transition: all 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Sharp", sans-serif;
}

@media (min-width: 992px) {
    .btn {
        padding: 15px 50px;
        font-size: 34px;
    }
}

.btn:hover {
    opacity: 0.8;
}

.btn--primary {
    background-color: #f9f15a;
    color: #1b1c1e;
    border: 1px solid #f9f15a;
}

.btn--primary:hover {
    background-color: #f8f9fa;
    border-color: #e94568;
    color: #1b1c1e;
}

.btn--secondary {
    background-color: #e94568;
    border: 1px solid #e94568;
    color: #f8f9fa;
}

.btn--secondary:hover {
    background-color: #f8f9fa;
    color: #1b1c1f;
    border-color: #f9f15a;
}

.btn--triangle {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #e94568;
    border-right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    background-color: transparent;
}

.btn--outline {
    background-color: transparent;
    border-width: 2px;
}

.btn--s {
    padding: 5px 15px;
    font-size: 16px;
}

.btn--m {
    padding: 10px 20px;
    font-size: 18px;
}

.btn--l {
    padding: 15px 25px;
    font-size: 24px;
}

.btn--xl {
    padding: 15px 25px;
    font-size: 30px;
}

.label {
    font-family: "Roboto Mono", sans-serif;
    background-color: #1b1c1e;
    color: #f8f9fa;
    max-width: fit-content;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.toggle-menu {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 2px 2px 3px;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 992px) {
    .toggle-menu {
        display: none;
    }
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #000000;
    transition: transform 0.2s ease-out;
}

.toggle .line1 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
    display: none;
}

.toggle .line3 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.swiper {
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background-color: #f8f9fa;
}

.heading {
    text-align: center;
}

.heading .heading__title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    font-family: "Sharp", sans-serif;
}

@media (min-width: 992px) {
    .heading .heading__title {
        font-size: calc(16.47059px + 3.60294vw);
    }
}

.heading .heading__title .label {
    display: none;
}

@media (min-width: 992px) {
    .heading .heading__title .label {
        position: absolute;
        top: -15px;
        left: -50px;
        transform: rotate(-20deg);
        display: block;
    }
}

.heading .heading__description {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .heading .heading__description {
        font-size: 20px;
    }
}

.heading .btn {
    margin-top: 30px;
}

.presented-block {
    font-family: "Sharp", sans-serif;
    color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.presented-block .presented-block__subtitle {
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.presented-block .presented-block__title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 300px;
    text-align: right;
}

.image-card h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Sharp", sans-serif;
    font-size: 24px;
    margin-top: 15px;
}

.colorbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

@media (min-width: 992px) {
    .colorbox {
        padding: 80px;
    }
}

.colorbox .heading .heading__description {
    font-family: "Sharp", sans-serif;
}

.colorbox--pink {
    background-color: #e94568;
}

.colorbox--pink .heading .heading__title {
    color: #f9f15a;
}

.colorbox--pink .heading .heading__description {
    color: #f8f9fa;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
}

.colorbox--yellow {
    background-color: #f9f15a;
}

.colorbox--yellow .heading .heading__title {
    color: #e94568;
}

.colorbox--yellow .heading .heading__description {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
}

.contact-form {
    position: relative;
    font-family: "Roboto Mono", sans-serif;
}

.contact-form input {
    width: 100%;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #1b1c1e;
    height: 48px;
    font-size: 16px;
    font-family: "Roboto Mono", sans-serif;
}

.contact-form input::placeholder {
    color: #1b1c1e;
}

.header {
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    background-color: #f8f9fa;
    max-height: 56px;
}

@media (min-width: 992px) {
    .header {
        max-height: fit-content;
    }
}

.header.toggle {
    max-height: fit-content;
}

.header .container {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

@media (min-width: 992px) {
    .header .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header .header__logo {
    display: flex;
    align-items: center;
}

.header .header__logo-img {
    width: 170px;
}

@media (min-width: 992px) {
    .header .header__logo-img {
        width: 180px;
    }
}

.header .header-nav {
    line-height: 1.6;
}

.header .header-nav__list {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
}

@media (min-width: 992px) {
    .header .header-nav__list {
        flex-direction: row;
        margin-top: 0;
    }
}

.header .header-nav__list-item {
    position: relative;
    margin: 5px;
}

@media (min-width: 992px) {
    .header .header-nav__list-item {
        margin: 0 10px;
    }
}

.header .header-nav__list-item:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #e94568;
    transition: all 0.5s;
}

.header .header-nav__list-item:hover::before {
    width: 100%;
}

.header .header-nav__list-item:hover a {
    color: #000;
}

.header .header-nav__list-item a {
    overflow: hidden;
    transition: all 0.5s;
    padding: 10px 0;
}

.header .btn {
    margin-top: 30px;
}

@media (min-width: 992px) {
    .header .btn {
        margin-top: 0;
    }
}

.header .donate {
    display: none;
}

@media (min-width: 992px) {
    .header .donate {
        display: block;
    }
}

.intro {
    background-color: #e94568;
}

.intro .container {
    position: relative;
    text-align: center;
}

.intro .intro__slogan {
    color: #f9f15a;
    text-transform: uppercase;
    font-size: 14vw;
    font-weight: 900;
    font-family: "Sharp", sans-serif;
    line-height: 1;
    text-align: center;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .intro .intro__slogan {
        font-size: 15vw;
    }
}

.intro .intro__image img {
    margin-top: 20px;
}

@media (min-width: 992px) {
    .intro .intro__image img {
        margin-top: -80px;
        border-radius: 250px;
    }
}

.intro .intro__logo {
    display: none;
}

@media (min-width: 992px) {
    .intro .intro__logo {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.intro .btn {
    position: relative;
    top: -40px;
}

.intro .presented-block {
    position: static;
}

@media (min-width: 992px) {
    .intro .presented-block {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.gallery {
    background-color: #f9f15a;
}

.gallery .heading__title {
    color: #e94568;
}

.gallery .swiper {
    margin-top: 50px;
}

.halfbox {
    background-color: #1b1c1e;
}

.halfbox .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

@media (min-width: 992px) {
    .halfbox .container {
        flex-direction: row;
    }
}

.halfbox .container > * {
    flex: 1 1 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 992px) {
    .footer .container {
        flex-direction: row;
    }
}

.footer .widget {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media (min-width: 992px) {
    .footer .widget {
        padding: 10px;
        width: 25%;
    }
}

.footer .widget .widget__title {
    font-family: "Sharp", sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
}

.footer .widget .footer__logo {
    max-width: 200px;
}

.footer .widget .footer__nav {
    list-style: none;
}

.footer .widget .footer__nav a:hover {
    text-decoration: underline;
    color: #000000;
}

.footer .widget .footer__logo img {
    max-width: 190px;
}

.footer .widget .contact-form input {
    padding-right: 20px;
}

/* SINGLE PAGE */

.single-page {
    color: #f8f9fa;
    background-color: #1b1c1e;
    padding: 20px;
}

@media (min-width: 768px) {
    .single-page {
        padding: 50px;
    }
}

.single-page .sidebar {
    position: sticky;
    top: 20px;
}

.single-page .sidebar .btn {
    margin-top: 20px;
}

.single-page .sidebar__widget {
    border-bottom: 2px solid #303030;
    padding: 20px 0;
}

.single-page a {
    color: #f9f15a;
    text-decoration: underline;
}

.single-page a:hover {
    color: #e94568;
}

/* BANNER */

.banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
}

@media (min-width: 768px) {
    .banner {
        padding: 50px;
    }
}

.banner .banner__content {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 400px;
}

.banner.banner--overlay:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #000000;
    opacity: 0.5;
}

.banner.banner--overlay .banner__content {
    color: #f8f9fa;
}

.banner.banner--overlay .btn,
.single-page .btn {
    color: #f8f9fa;
    display: inline-block;
    width: fit-content;
    margin-top: 40px;
    text-decoration: none;
}

.banner.banner--overlay .btn:hover,
.single-page .btn:hover {
    background-color: transparent;
}

/* PROGRAMS */

.programs .date-part__date {
    padding: 20px 0;
    background-color: #1b1c1e;
    z-index: 11;
}

.programs details[open] ::marker {
    color: #e94568;
}

.programs summary {
    cursor: pointer;
    user-select: none;
    padding: 10px 0;
}

.programs .programs__filter {
    padding-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .programs .programs__filter {
        margin-bottom: 0;
    }
}

.programs .programs__filter .filter {
    position: sticky;
    top: 25px;
}

.programs .programs__filter h4 {
    margin-bottom: 20px;
}

.programs .filter-item {
    margin: 5px 0;
}

.programs .filter-item label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.programs .filter-item label:hover span {
    background-color: #303030;
}

.programs .filter-item input {
    display: none;
}

.programs .filter-item input:checked + span {
    background-color: #f9f15a;
    border-color: #f9f15a;
}

.programs .filter-item span {
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #f8f9fa;
}

.programs .event-card:not(:last-child) {
    margin-bottom: 30px;
}

/* EVENT CARD */

.event-card {
    display: flex;
    gap: 30px;
    color: #f8f9fa;
}

.event-card__preview {
    display: none;
}

@media (min-width: 768px) {
    .event-card__preview {
        display: block;
        max-width: 200px;
    }
}

.event-card .meta-list {
    margin-bottom: 15px;
    font-size: 14px;
}

.event-card .title {
    font-size: 18px;
    text-transform: uppercase;
}

.event-card .time,
.event-card .slogan {
    font-size: 14px;
}

/* META LIST */

.meta-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.meta-list__item {
    position: relative;
    text-transform: uppercase;
}

.meta-list__item:not(:last-child):before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #76fa95;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(0, -50%);
}

/* CONTENT */

.content {
    padding: 0;
}

.content > *:first-child {
    margin-top: 0;
}

@media (min-width: 1024px) {
    .content {
        padding: 0 50px;
    }
}

.content h3,
.content h4,
.content h5,
.content h6 {
    margin: 20px 0;
}
